.answer {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 7px;

  .button {
    width: 30vw;
    min-width: 245px;
    max-width: 345px;
    border-radius: 50px;

    &.correct {
      background-color: green;
    }

    &.wrong {
      background-color: red;
    }

    &.disabled {
      opacity: 0.3;
    }
  }
}