.question {
  //background-color: rgba(62, 62, 219, 0.64);
  max-width: 475px;
  width: 80vw;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 20px!important;
  padding-bottom: 12px!important;

  &__head {
    display: flex;
    justify-content: center;

    h2 {
      color: black;
      text-align: center;
    }
  }
}